<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.droideri.datastructuresinreallifenew">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DataStructuresInRealLife">
        <activity
            android:name=".GraphCode"
            android:parentActivityName=".Graph" />
        <activity android:name=".Graph"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".TreeCode"
            android:parentActivityName=".Tree" />
        <activity
            android:name=".Tree"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".HashTableCode"
            android:parentActivityName=".HashTable" />
        <activity
            android:name=".HashTable"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".HeapCode"
            android:parentActivityName=".Heap" />
        <activity
            android:name=".Heap"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".QueueCode"
            android:parentActivityName=".Queue" />
        <activity
            android:name=".Queue"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".StackCode"
            android:parentActivityName=".Stack" />
        <activity
            android:name=".Stack"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LinkedListCode"
            android:parentActivityName=".LinkedList" />
        <activity
            android:name=".LinkedList"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ArrayCode"
            android:parentActivityName=".Array" />
        <activity
            android:name=".Array"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>